body{
  font-family: Arial;
  background: #009e59;
}
.welcome {
  color: #56f921;
  font-style: italic;
  font-size: 25px;

}
.top span{
   color:; yellow;
}
.info {
  border: 2px solid black;
  padding: 20px;
}
b{color:  black ;}
img{
  width: 100%;
}
  .menu 
  <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
margin: 0
 border: 2px solid white;
  padding: 20px;

</style>
